---
import Layout from "../layouts/Layout.astro";
import { ServicesInfo, ServicesSite } from "../config/sitio";
---

<Layout title={ServicesInfo.title} description={ServicesInfo.description}>
  <main>
    {
      ServicesSite.map((item) => (
        <section class="bg-cover bg-no-repeat bg-[url('/images/soldadura.webp')] bg-gray-600 bg-blend-multiply px-10">
          <div class="px-auto mx-auto max-w-screen-xl text-center py-44 lg:py-56">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
              {item.label}
            </h1>
            <p class="mt-8 px-8 text-pretty text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">
              {item.description}
            </p>
          </div>
          <article class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-full hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 ">
            <div class="flex flex-col justify-between p-4 leading-normal">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                Dimensiones
              </h5>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Ancho: {item.dimensiones.ancho}
                <br />
                Largo: {item.dimensiones.largo}
                <br />
                Espesor: {item.dimensiones.espesor}
                <br />
                Peso: {item.dimensiones.peso}
              </p>
            </div>
            <div class="flex flex-col justify-between p-4 leading-normal">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                Detalles
              </h5>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                <a href={item.href}>Más Información</a>
              </p>
            </div>
          </article>
        </section>
      ))
    }
  </main>
</Layout>
