---
import { NavItems } from "../config/sitio";
import { InfoSite } from "../config/sitio";
import { Products } from "../config/sitio";
import { Contact } from "../config/sitio";
---

<footer class="bg-yellow-300 dark:bg-gray-900">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    {
      InfoSite.map((link) => (
        <>
          <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
              <a href="/" class="flex items-center">
                <img src={link.path} class="h-20 " alt={link.nombreLogo} />

                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white" />
              </a>
              <p class="text-pretty w-[60%] text-gray-900 pt-4">
                En Aceros Pereira, no solo vendemos productos, ofrecemos
                soluciones integrales para tu proyecto.
              </p>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">
                  Recursos
                </h2>

                {NavItems.map((link) => (
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                      <a href={link.href} class="hover:underline">
                        {link.label}
                      </a>
                    </li>
                  </ul>
                ))}
              </div>
              <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">
                  Productos y Servicios
                </h2>
                {Products.map((link) => (
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                      <a href={link.herf} class="hover:underline">
                        {link.name}
                      </a>
                    </li>
                  </ul>
                ))}
              </div>
              <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">
                  Contacto
                </h2>
                {Contact.map((link) => (
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                      <p class="hover:underline">{link.address}</p>
                    </li>
                    <li class="mb-4">
                      <p class="hover:underline">
                        {link.comune}, {link.city}
                      </p>
                    </li>
                    <li class="mb-4">
                      <p class="hover:underline">{link.email}</p>
                    </li>
                    <li class="mb-4">
                      <p class="hover:underline">{link.phone1}</p>
                    </li>
                  </ul>
                ))}
              </div>
            </div>
          </div>
          <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
          <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
              © 2024{" "}
              <a href="https://flowbite.com/" class="hover:underline">
                {link.nombreLogo}
              </a>
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
              <a
                href="#"
                class="text-gray-500 hover:text-gray-900 dark:hover:text-white"
              >
                <svg
                  class="w-4 h-4"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 8 19"
                >
                  <path
                    fill-rule="evenodd"
                    d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Facebook page</span>
              </a>
            </div>
          </div>
        </>
      ))
    }
  </div>
</footer>
